@font-face {
  font-family: "Hanna";
  src: url("/fonts/bmHanna.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Hanna", sans-serif !important;
  overflow-x: hidden;
  max-width: 100vw;
  overflow-y: scroll;
}
